@page
@model JokeSearchModel
@using System.Text.RegularExpressions
@{
    ViewData["Title"] = "Joke Search";

    Func<dynamic, object> jokeTemplate = @<div>
	@if (@item.Jokes != null && @item.Jokes.Count > 0) {
  	  <h2>@item.Label</h2>
	  <ul>
	  @foreach (var j in @item.Jokes)
	  {
	      <li>@Html.Raw(@ReplaceSearchTerm(j, @Model.SearchTerm))</li>
	  }
	  </ul>
	}
    </div>;
}

@functions {
    public string ReplaceSearchTerm(string joke, string searchTerm)
    {
    	return Regex.Replace(joke, $"({searchTerm})" ,"<span class='text-danger'>$1</span>", RegexOptions.IgnoreCase);
    }
}

<h1>@ViewData["Title"]</h1>

<form action="/JokeSearch" method="GET">
  First name: <input type="text" name="term" value="@Model.SearchTerm">
  <input type="submit" value="Search">
</form>

<hr>

@jokeTemplate(new ListLabeller("Short Jokes", @Model.ShortJokes))
@jokeTemplate(new ListLabeller("Medium Jokes", @Model.MediumJokes))
@jokeTemplate(new ListLabeller("Long Jokes", @Model.LongJokes))
